.cads {
    color: #6A5ACD;
}

.botao {
    background-color: #6A5ACD;
    color: white;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
