.cads {
    color: #6A5ACD;
}

.botao {
    background-color: #6A5ACD;
    color: white;
    border-radius: 5px;
    align-content: center;
    width: 100%;
    border: none;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.form-group {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}