#{extends 'main.html' /}
#{set title:'Formulário' /}

<container>
  <div class="form-group">
    <h1 class="cads">Acesse a sua conta</h1>
    <hr>

    <form action="/pessoas/salvar">


      <label for="exampleInputName1">Nome</label>
      <input type="text" class="form-control" name="pessoa.nome" placeholder="Seu nome">
      <br>
      <label for="exampleInputEmail1">Email</label>
      <input type="text" class="form-control" placeholder="Seu E-mail">
      <br>
      <hr>
      <br>

      <button type="submit" class="botao">Enviar</button>
    </form>
  </div>
</container>